<div class="center hero-unit">
  <h1>Welcome to Mastermind</h1>
  <%= Mastermind::GameText.new.message(:prompt) %><br />

  <% colors = ["red", "orange", "yellow", "green", "blue", "purple"] %>
  
  <div class="button_row">
  <% colors.each do |color| %>
    <button id=<%=color%>></button>  
  <% end %>
  </div> 
  
  <div class="row">
    <%= form_for :code do |f| %>
    <%= f.text_field :code%><br />
    <%= f.submit "Play", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
  
  
</div>


